---
import { Image } from "astro:assets";

interface Props {
  linkText: string;
  image: string;
  trainerName: string;
  trainerBio: string;
}
const { linkText, image, trainerName, trainerBio } = Astro.props;
---

<section
  class="py-20 bg-black text-white flex flex-col items-center justify-center text-center px-6"
>
  <h1
    class="yellowText text-5xl md:text-6xl italic uppercase font-extrabold mb-12"
  >
    Conheça seu treinador
  </h1>

  <div
    class="flex flex-col md:flex-row items-center justify-center gap-12 max-w-5xl mx-auto"
  >
    <!-- FOTO DO TREINADOR -->
    <div class="flex-shrink-0">
      <Image
        src={"/images/" + image}
        width={450}
        height={450}
        alt="Foto do treinador"
        class="rounded-2xl object-cover shadow-lg w-[280px] md:w-[400px] h-auto"
      />
    </div>

    <!-- TEXTO DO TREINADOR -->
    <div class="max-w-md text-left md:text-left">
      <h2 class="text-3xl font-bold italic mb-4 yellowText">
        {trainerName}
      </h2>
      <p class="text-lg leading-relaxed text-white/90">{trainerBio}</p>

      <a
        href="#offers"
        class="inline-block mt-8 font-bold text-black uppercase px-6 py-3 rounded-md hover:bg-yellow-300 transition-all yellowBG md:flex justify-center mx-auto"
      >
        Quero ser Apto(a)
      </a>
    </div>
  </div>
</section>
