---
interface Props {
  imageURL: string;
  text: string;
  buttonText: string;
  link: string;
}

const { imageURL, text, buttonText, link } = Astro.props;
---

<div
  class="flex flex-col items-center rounded-2xl overflow-hidden border yellowBorder bg-black/10 transition-transform duration-300 hover:scale-[1.02]"
>
  <img
    src={`/images/${imageURL}`}
    alt={text}
    class="w-full h-[523px] object-cover transition-transform duration-500 hover:scale-105 brightness-105"
  />

  <div class="flex flex-col items-center justify-center p-6">
    <a
      href={link}
      class="border yellowBorder text-white font-medium px-8 py-3 rounded-full hover:bg-yellowBG hover:uppercase hover:text-yellow-300 transition-colors"
    >
      {buttonText}
    </a>
  </div>
</div>
