---
interface Props {
  text: string;
  imageURL: string;
  link: string;
}

const { text = "", imageURL = "", link } = Astro.props;

const imageStyle = {
  backgroundImage: `url(/images/${imageURL})`,
};
---

<a
  href={link.startsWith('http') ? link : `https://${link}`}
  target="_blank"
  rel="noopener noreferrer"
  class="block transition-transform hover:scale-105"
>
  <div
    class="py-48 bg-cover m-8 bg-gray-700 bg-blend-multiply rounded-2xl flex items-center justify-center"
    style={imageStyle}
  >
    <h2 class="text-white uppercase text-4xl italic">{text}</h2>
  </div>
</a>
