---
const testimonials = [
  {
    profileURL: "gym-femaleinstructor.jpg",
    author: "Santiago Ferreira",
    age: 30,
    quote:
      "Testimonials are short quotes from people who love your brand. It's a great way to convince customers to try your services. ",
  },
    {
    profileURL: "gym-femaleinstructor.jpg",
    author: "Santiago Ferreira",
    age: 30,
    quote:
      "Testimonials are short quotes from people who love your brand. It's a great way to convince customers to try your services. ",
  },
    {
    profileURL: "gym-femaleinstructor.jpg",
    author: "Santiago Ferreira",
    age: 30,
    quote:
      "Testimonials are short quotes from people who love your brand. It's a great way to convince customers to try your services. ",
  },
 
];
---
<section class="min-h-screen flex flex-col items-center justify-center text-center py-12">
  <h1 class="yellowText text-5xl italic uppercase text-center">Depoimentos</h1>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 justify-items-center">
    {
      testimonials.map((profile)=>(
        <div class="m-4 ">
          <img src={'/images/'+profile.profileURL} alt="Testimonial" class="object-cover w-full h-48"/>
          <div class="yellowBG p-8">
            <p class="pb-4 font-bold">
              {profile.quote}
              </p>
              <small>{profile.author},{profile.age}</small>
            </div>
          </div>

      ))
    }
  </div>
</section>